/* grid */
.cell-flex {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.cell-flex::before,
.cell-flex::after {
	display: block;
	clear: both;
	content: "";
}

.cell-flex > * {
	width: 100%;
	margin: 0 0 20px;
}

.cell-inline > * { width: auto; }

@media (min-width: 769px) {
	.cell-inline,
	[class*="cell-columns-"] {
		flex-direction: row;
		margin: 0 -20px 0 0;
	}

	.cell-inline > *,
	[class*="cell-columns-"] > * { margin: 0 20px 20px 0; }

	.cell-columns-2 > * { width: calc(100% / 2 - 20px); }
	.cell-columns-3 > * { width: calc(100% / 2 - 20px); }
	.cell-columns-4 > * { width: calc(100% / 2 - 20px); }

	.cell-flex > *.cell-100 { width: 100% !important; }
	.cell-flex > *.cell-1-4,
	.cell-flex > *.cell-1-3,
	.cell-flex > *.cell-1-2,
	.cell-flex > *.cell-2-3,
	.cell-flex > *.cell-3-4 { width: calc(100% / 2 - 20px) !important; }
}

@media (min-width: 1025px) {
	.cell-columns-2 > * { width: calc(100% / 2 - 20px); }
	.cell-columns-3 > * { width: calc(100% / 3 - 20px); }
	.cell-columns-4 > * { width: calc(100% / 4 - 20px); }

	.cell-flex > *.cell-100 { width: 100% !important; }
	.cell-flex > *.cell-1-4 { width: calc(100% / 4 - 20px) !important; }
	.cell-flex > *.cell-1-3 { width: calc(100% / 3 - 20px) !important; }
	.cell-flex > *.cell-1-2 { width: calc(100% / 2 - 20px) !important; }
	.cell-flex > *.cell-2-3 { width: calc(100% * 2 / 3 - 20px) !important; }
	.cell-flex > *.cell-3-4 { width: calc(100% * 3 / 4 - 20px) !important; }
}

.hero {
    padding: 15px;
    background-color: #FCE6C5;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.line {
    clear: both;
    padding: 15px 0;
}

.description {
    display: block;
    font-style: italic;
    font-size: 0.809em;
    padding: 5px;
}

.align-right { text-align: right; }
.align-center { text-align: center; }

.hidden { display: none; }

.text-italic { font-style: italic; }

.small { font-size: 0.809em; }

.message-helper {
    padding: 10px;
}

.success { color: #019601; }
.notice  { color: #019696; }
.warning { color: #CA6C00; }
.error   { color: #AA0000; }

.bgc-full.success { background-color: #019601; color: #FFFFFF;}
.bgc-full.notice  { background-color: #019696; color: #FFFFFF;}
.bgc-full.warning { background-color: #ca6c00; color: #FFFFFF;}
.bgc-full.error   { background-color: #aa0000; color: #FFFFFF;}