/* grid */
.cell-flex {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
    gap: 10px;
}

.cell-flex::before,
.cell-flex::after {
	display: block;
	clear: both;
	content: "";
}

.cell-flex > * {
	width: 100%;
}

.cell-inline > * { width: auto; }

@media (min-width: 769px) {
	.cell-inline,
	[class*="cell-columns-"] {
		flex-direction: row;
	}

	.cell-columns-2 > * { width: calc(100% / 2 - 20px); }
	.cell-columns-3 > * { width: calc(100% / 2 - 20px); }
	.cell-columns-4 > * { width: calc(100% / 2 - 20px); }

	.cell-flex > *.cell-100 { width: 100% !important; }
	.cell-flex > *.cell-1-4,
	.cell-flex > *.cell-1-3,
	.cell-flex > *.cell-1-2,
	.cell-flex > *.cell-2-3,
	.cell-flex > *.cell-3-4 { width: calc(100% / 2 - 20px) !important; }
}

@media (min-width: 1025px) {
	.cell-columns-2 > * { width: calc(100% / 2 - 20px); }
	.cell-columns-3 > * { width: calc(100% / 3 - 20px); }
	.cell-columns-4 > * { width: calc(100% / 4 - 20px); }

	.cell-flex > *.cell-100 { width: 100% !important; }
	.cell-flex > *.cell-1-4 { width: calc(100% / 4 - 20px) !important; }
	.cell-flex > *.cell-1-3 { width: calc(100% / 3 - 20px) !important; }
	.cell-flex > *.cell-1-2 { width: calc(100% / 2 - 20px) !important; }
	.cell-flex > *.cell-2-3 { width: calc(100% * 2 / 3 - 20px) !important; }
	.cell-flex > *.cell-3-4 { width: calc(100% * 3 / 4 - 20px) !important; }
}

.flex-main {
    flex: 1 1 auto;
}

.flex-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex-inline-center {
    display: inline-flex;
    align-items: center;
}

.flex-between-center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.flex-around-center {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

@media (min-width: 769px) {
    .flex-between,
    .flex-between-center,
    .flex-around-center {
        flex-direction: row;
    }
}

#round-description {
    display: inline-block;
    padding: 5px;
}

#selected-members-list {
    columns: 6;
}

.selected-player {
    padding: 4px 8px;
}

.match-player-list {
    width: 60%;
    text-align: left;
}

.match-player {
    display: block;
}

.set-scores {
    width: 120px;
}

.team-score {
    text-align: center;
}

.validated-score td,
.team-score:disabled {
    background-color: var(--bgc-success);
    border-color: var(--success);
    color: var(--success);
}

.score-buttons-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 0 5px;
    gap: 3px;
}

.score-button {
    background-color: var(--bgc-notice);
    border-color: var(--notice);
    color: var(--notice);
    padding: 3px 7px;
    min-width: 40px;
}

.score-button:hover {
    background-color: var(--bgc-alt);
    color: var(--text-alt);
}

input.focused-score {
    background-color: var(--bgc-notice);
    border-color: var(--notice);
    color: var(--notice);
}

.edit-score {
    background-color: var(--bgc-success);
    border-color: var(--success);
    color: var(--success);
}

.playground-input {
    width: 120px;
}

.field-checkbox {
    width: 226px;
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
}

.field-checkbox .checkbox {
    width: 30px;
    height: 30px;
	position: relative;
}

.field-checkbox .checkbox [type="checkbox"] { opacity: 0; }

.field-checkbox .checkbox [type="checkbox"] + span {
	cursor: pointer;
	position: absolute;
    inset: 2px 2px;
    background-color: var(--bgc-error);
    color: var(--error);
    border-width: 1px;
    border-style: solid;
    border-color: var(--error);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.field-checkbox .checkbox [type="checkbox"]:checked + span {
    background-color: var(--bgc-success);
    border-color: var(--success);
    color: var(--success);
}

.fav-list-member .fa {
    color: var(--success)
}

.fav-list-member .far {
    color: var(--text-sub);
}

.fav-checkbox .checkbox {
    display: inline-block;
    width: 25px;
    height: 25px;
	position: relative;
    padding: 2px;
}

.fav-checkbox .checkbox [type="checkbox"] { opacity: 0; }

.fav-checkbox .checkbox [type="checkbox"] + span {
	cursor: pointer;
	position: absolute;
    inset: 2px 2px;
    color: var(--text-sub);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fav-checkbox .checkbox [type="checkbox"]:checked + span {
    color: var(--success);
}

.present-checkbox .checkbox {
    display: inline-block;
    width: 25px;
    height: 25px;
	position: relative;
    padding: 2px;
}

.present-checkbox .checkbox [type="checkbox"] { opacity: 0; }

.present-checkbox .checkbox [type="checkbox"] + span {
	cursor: pointer;
	position: absolute;
    inset: 2px 2px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--bdr);
    color: var(--text-sub);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.present-checkbox .checkbox [type="checkbox"]:checked + span {
    border-color: var(--success);
    color: var(--success);
}

.description {
    display: block;
    font-style: italic;
    font-size: 0.809em;
    padding: 5px 10px;
}

.align-left { text-align: left; }
.align-right { text-align: right; }
.align-center { text-align: center; }

.hidden { display: none; }

.text-italic { font-style: italic; }

.small { font-size: 0.809em; }
.big { font-size: 1.456em; }

.message-helper {
    padding: 10px;
    margin-bottom: 5px;
}

.message-helper a {
    font-size: bold;
}

.ranking-table {
    display: table;
    margin: auto;
    width: auto;
}

.ranking-table th {
    min-width: 50px;
}

.ranking-table th.player-name {
    width: 320px;
}

.ranking-table td.player-name {
    text-align: left;
}

.ranking-table tbody tr:hover td {
    background-color: var(--bgc-notice);
}