/* activity link */
.open-span-button {
    font-size: 1.00em;
    font-style: italic;
    font-weight: bold;
    display: inline-block;
    padding: 5px;
    margin-left: 30px;
    border: 1px solid;
}

.open-button {
    color: black;
    font-size: 1.10em;
    font-style: italic;
    font-weight: bold;
    padding: 10px;
    display: inline-block;
    
}

.open-button:hover {
    color: #f72a1a;
    background-color: #e3e3e3;
}


/* form-radio custom*/
.requests-description-title{
    font-size: 2.00rem;
    color: #0094af;
    font-weight: bold;
    font-style: italic;
}

.requests-description{
    font-size: 1.65rem;
    font-style: italic;
}

.financial-radio input[type="radio"]{
    display: none;
}

.financial-radio label {
    display: inline-block;
}

.financial-radio input + span {
    padding: 1rem 1rem;
    color: black;
    font-size: 1.45rem;
    font-style: italic;
    font-weight: bold;
    font-family: sans-serif; 
    border-radius: 1.2rem;
    background-color: #e3e3e3;
    border: 1px solid transparent;
    transition: all 0.2s ease-in-out;
    display: inline-block;
}

.financial-radio span:hover {
    border-color: #1e7e34;
}

.financial-radio input[type="radio"]:checked + span {
    background-color: #2dc26b;
}

.financial-radio input[type="radio"] + span .radio-target::before{
    content: "\f0c8";
    font-family: 'Font Awesome 6 Free';
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
}

.financial-radio input[type="radio"]:checked + span .radio-target::before{
    content: "\f14a";
}

[list="clubs-choice"] { width: 100%; }

.financial-radio input[disabled] + span {
    background-color: rgba(var(--error-rgb-t), 0.2);
    color: var(--error-tone);
    opacity: 0.5;
}

.payment-validation{
    background-color: #A5F0EC;
    font-style: italic; 
    color: black;
    font-weight: bold;
}

/* datatables params */
.dataTables_length label,
.dataTables_filter label {
    display: flex;
    min-width: 350px;
    align-items: center;
    padding: 0.618em 0;
}

table.dataTable thead tr.filters th { padding: 0.309em; }

.dataTables_filter input {
    max-width: 250px;
    margin-left: 0.618em;
}

.dataTables_length select {
    max-width: 60px;
    margin-left: 0.620em;
}

/* datatables overload */
.dataTables_wrapper .dataTables_paginate { padding: 0 0 0.618em; }

.filters input {
    max-width: 120px;
    border-radius: 5px;
    font-size: 10.5px;
    text-align: center;
    margin-right: 0.309em
}