.ongoing {
    background-color: rgba(var(--notice-tone), 0.2);
}

.monitoring-input {
    width: 90px;
    margin-right: 0.618em;
    padding: 0 0 0 0.228em;
    border-radius: var(--radius);
}

.monitoring-input:read-only {
    width: 50px;
    padding: 0;
}

.monitoring-input[type="text"] {
    text-align: center;
}

.bordered-table tr:hover {
    background-color: rgba(var(--main-rgb-t), 0.2);
}