.ongoing {
    background-color: rgba(var(--notice-tone), 0.2);
}

.monitoring-input {
    width: 70px;
    margin-right: 0.618em;
    padding: 0 0 0 0.228em;
    border-radius: var(--radius);
}

.monitoring-input:read-only {
    width: 50px;
    padding: 0;
}

.monitoring-input[type="text"] {
    text-align: center;
}

.bordered-table tr:hover {
    background-color: rgba(var(--main-rgb-t), 0.2);
}

.button-disabled {
    pointer-events: none;
}

/*
*charts menu
*/

.charts-menu {
    text-align: center;
    padding-bottom: 30px;
    margin: 15px;
}

.chart-container {
    padding-top: 30px !important;
    /*background-color: #e3e6f5;*/
}

#financial_charts {
    padding-bottom: 30px;
}

#financial_charts ul {
    height: 0;
    list-style-type: none;
    padding-bottom: 50px;
}

#financial_charts li{
    position: relative;
    display: inline-block;
    text-align: center;
}

#financial_charts li a {
    display: block;
    padding: 0.350em;
    font-style: italic;
}

.statement_title {
    color: blue;
    font-family: 'tahoma';
    font-weight: normal;
    font-style: italic;
    padding-bottom: 18px;
}