form {
    display: table;
}

.align-center {
    text-align: center;
    padding: 5px 10px;
}

label {
    display: block;
    padding: 5px 10px;
}

span {
    display: block;
}

.input-error {
    background-color: #ffb5b5;
    color: #FF0000;
    border-color: #FF0000;
}