body {
    background-size: cover;
    background-attachment: fixed;
    background-position: center top;
    background-image: url('images/bg.webp');
}

#site-name-container {
    font-family: 'Goudy Bookletter 1911', serif;
}
body,
#sub-header-content .cssmenu > ul > li > .cssmenu-title,
h1, h2, h3, h4 {
    font-family: 'Roboto Slab', serif;
}

#site-name .capital {
    color: var(--error-tone);
}

#top-header {
    background-color: var(--bgc-alt);
}

#top-header a {
    color: var(--txt-alt)
}

.left-color {
    position: relative;
}

.left-color::before {
    background-color: var(--bgc-alt);
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    position: absolute;
}

#sub-header-content {
    padding: 0;
}

/* --- Nav --- */
#sub-header-content nav {
    margin: auto;
}

#sub-header-content .cssmenu > ul > li > .cssmenu-title span {
    font-size: 1.618em;
}

#sub-header-content .cssmenu > ul > li > .cssmenu-title {
    border-width: 0 1px 0 0;
    border-style: solid;
    border-color: var(--bdr-alt);
    color: var(--txt-main);
    line-height: 1.2;
    padding-top: 0.309em;
    padding-bottom: 0.309em;
}

#sub-header-content .cssmenu > ul > li:last-child > .cssmenu-title {
    border-width: 0;
}

#global-container {
    background-image: linear-gradient(to bottom, rgba(var(--lighten), 0) 20px, rgba(var(--lighten), 0.8) 200px);
}

#footer .cell-tile .cell {
    color: var(--txt-main);
}

#footer-content .cell-tile .cell {
    border-color: transparent;
}

#footer {
    background-color: rgba(var(--lighten), 0.8);
}

/* --- Login page --- */
.connection fieldset {
    margin: 0;
}

/* --- Form --- */
.fieldset-content {
    margin-top: 0;
}

.form-element {
    margin: 0;
}

/* --- components --- */
.box {
    border-width: 1px;
    border-style: solid;
    border-color: var(--bdr-main);
    border-radius: 15px;
}

.box .box-content {
    padding: 20px;
}

.box .form-element:not(.form-element-checkbox) {
    display: block;
}

.box .form-element:not(.form-element-checkbox) label,
.box .form-element:not(.form-element-checkbox) .form-field,
.box .form-element:not(.form-element-checkbox) input {
    display: block;
    width: 100%;
}

/* --- form --- */
@media (min-width: 1025px) {
    .form-element > label {
        width: 25%;
    }
    .form-element-textarea > .form-field-textarea {
        width: 100%;
    }
    .form-field {
        width: 40%;
    }
}

.form-field-preview {
    max-width: 300px;
}

/* --- Tzble model --- */

.html-table-filters {
    position: relative;
    text-align: right;
}

.html-table-filters .filters-container {
    text-align: left;
	position: absolute;
    right: 0;
    top: 100%;
    width: 35%;
    background-color: var(--bgc-main);
    z-index: 2;
	opacity: 0;
	visibility: hidden;
	height: 0;
}

.filters-container .form-element > * {
    width: 50%;
}

.html-table-filters.opened .filters-container {
	opacity: 1;
	visibility: visible;
	height: auto;
}

/* --- Modules --- */
.connection-button,
.search-button {
    padding: 0.228em 0.456em;
}