.admin_only{
    text-align: left;
    font-family:sans-serif;
    font-style:italic;
    font-weight: bold;
}

/* form-radio custom*/

.lam-radio input[type="radio"]{
    display: none;
}

.lam-radio label {
    display: inline-block;
}

.lam-radio span {
  padding: 1rem 1rem;
  font-size: 1.4rem;
  font-family: sans-serif; 
  border-radius: 0.3rem;
  color: black;
  background-color: #e3e3e3;
  border: 1px solid transparent;
  transition: all 0.2s ease-in-out;
}

 .lam-radio span:hover {
  background-color: #d6e9c6;
  border-color: #1e7e34;
}

.lam-radio input[type="radio"]:checked + span {
  background-color: #2ECC71;
}

/* mails */