/*
* Copy this file into your theme to customize the module.
* https://www.phpboost.com/wiki/structure-d-un-theme#paragraph-le-repertoire-modules
*/

#module-planning .planning-event-day {
	word-wrap: normal;
	overflow-wrap: normal;
	hyphens: none;
	text-align: center;
	font-size: 2em;
}

#module-planning .day-infos {
    margin-bottom: 1.618em;
}

@media (min-width: 769px) {
    .cell-options {
        min-width: 350px;
    }
}
#module-planning .cell-options {
    margin-bottom: 1.618em;
}

#date-select-form .grouped-element { border-width: 0; }

.location-map { margin: 0.618em 0; }

@media (min-width: 1025px) {
    .location-text { max-width: 75%; }
}

.planning-table { table-layout: fixed; }

.planning-table th,
.planning-table td { width: calc(100% / 8); }

.planning-table td a:hover { text-decoration: none; }

td[class*="planning-"],
td[class*="planning-"]:last-child {
	padding: 0;
	border-width: 0;
}

.planning-table td:not(.legend-line) a {
    padding: 0.618em 0.456em;
    display: block;
	position: relative;
}

.event-container {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	line-height: 0.456em;
	padding: 0 0.309em 0.228em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: center;
}

.event-spot {
	display: inline-block;
	width: 8px;
	height: 8px;
	box-shadow: 0 0 1px 1px rgba(var(--darken), 0.2);
	border-radius: 50%;
}

#module-planning .html-table-filters * { margin: 0 !important;}

.responsive-object {
    position: relative;
    padding-bottom: 133%;
    height: 0;
    margin: 10px 0;
    overflow: hidden;
}

.responsive-object object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
