/*******************************************************************************************************/
#lamdesk_menu ul {
    list-style-type: none;
    margin: 1.5em 0 0 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#lamdesk_menu li {
    float: left;
}

#lamdesk_menu li a,
.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

v li a:hover,
.dropdown:hover .dropbtn {
    background-color: #13b4d8;
}

#lamdesk_menu li.dropdown {
    display: inline-block;
}

#lamdesk_menu .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

#lamdesk_menu .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

#lamdesk_menu .dropdown-content a:hover {
    background-color: #13b4d8;
}

#lamdesk_menu .dropdown:hover .dropdown-content {
    display: block;
}

/* manage clubs */
/* #clubs-manager table, th, td {
    border: 1px solid black;
} */

/* dates des clubs */
#t_dates {
    margin-top: 25px;
}

#t_dates td {
    text-align: left;
    /* padding-bottom: 25px; */
}

[class*="warning-color-"] {
    border-width: 1px;
    border-style: solid;
    border-color: var(--bdr-main);
    background-color: transparent;
}

.warning-color-0  {
    background-color: rgba(209, 118, 118, 0.4);
}
.warning-color-1  {
    background-color: rgba(209, 161, 118, 0.4);
}
.warning-color-2  {
    background-color: rgba(209, 188, 118, 0.4);
}
.warning-color-3  {
    background-color: rgba(180, 209, 118, 0.4);
}
.warning-color-4  {
    background-color: rgba(118, 209, 138, 0.4);
}
.warning-color-5  {
    background-color: rgba(118, 209, 209, 0.4);
}
.warning-color-6  {
    background-color: rgba(118, 155, 209, 0.4);
}
.warning-color-7  {
    background-color: rgba(118, 121, 209, 0.4);
}
.warning-color-8  {
    background-color: rgba(159, 118, 209, 0.4);
}
.warning-color-9  {
    background-color: rgba(192, 118, 209, 0.4);
}
.warning-color-10 {
    background-color: rgba(209, 118, 118, 0.4);
}
.warning-color-11 {
    background-color: rgba(209, 161, 118, 0.4);
}
.warning-color-12 {
    background-color: rgba(209, 188, 118, 0.4);
}
.warning-color-13 {
    background-color: rgba(180, 209, 118, 0.4);
}
.warning-color-14 {
    background-color: rgba(118, 209, 138, 0.4);
}
.warning-color-15 {
    background-color: rgba(118, 209, 209, 0.4);
}
.warning-color-16 {
    background-color: rgba(118, 155, 209, 0.4);
}
.warning-color-17 {
    background-color: rgba(118, 121, 209, 0.4);
}
.warning-color-18 {
    background-color: rgba(159, 118, 209, 0.4);
}
.warning-color-19 {
    background-color: rgba(192, 118, 209, 0.4);
}

/* tableau de bord */
#tdb-table {
    table-layout: fixed;
}

#tdb-table tbody {
    background-color: #e6e6e6;
}

#tdb-table tr td {
    border:1px solid black;
    cursor: pointer;
    /*text-align: left;*/
}

#tdb-table tr td:first-child {
    text-align: left;
    cursor: not-allowed;
}

#tdb-table td:not(:first-child) {
    font-size: 17px;
    padding-right: 20px;
    color: #0094af;
}

#tdb-table td:not(:first-child):hover {
    cursor: pointer;
    color: #00b900;
    background-color: #a6ccf7;
    font-style: italic;
}

#tdb-table td:nth-child(2) {
    color: #BD081C;
    background-color: #e6e6e6;
}

#tdb-table td:nth-child(3) {
    color: #0094af;
    background-color: #e6e6e6;
}

#tdb-table td:nth-child(4) {
    color: #00b900;
    background-color: #e6e6e6;
}

#tdb-table td:nth-child(5) {
    color: #77181f;
    background-color: #e6e6e6;
}



/* répartition des clubs */
#liste {
}

#cdistribute :hover {
    background-color: #a6ccf7;
}
#cdistribute td:visited {
    background-color: red;
}

#tclubs {
    width: auto;
}

#tbody_clubs_ffam td {
    text-align: left;
    border:1px solid black;
}

#tbody_clubs_site td {
    text-align: left;
    border:1px solid black;
}

.title-list {
    font-weight: bold;
    background-color: #a6ccf7;
    padding: 0.3em;
}


