/* --- shape --- */

#inner-header .grouped-inputs { justify-content: flex-start !important; }

#sub-header-content { padding: 0.456em 0;}

#global-container { 
    padding: 0 0.618em;
}

/* --- cssmenu --- */
#sub-header .level-0 > li > .cssmenu-title > span {
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 1.809rem;
    cursor: pointer;
}

@media (min-width: 769px) {
    #sub-header .cssmenu-horizontal {
        display: block;
        text-align: center;
    }

    #sub-header .cssmenu-horizontal > .level-0 > li:not(:last-child) {
        border-right-width: 1px;
        border-right-style: solid;
        border-right-color: var(--bdr-main);
    }

    #footer .cssmenu-static { text-align: center; }
}

@media (min-width: 1025px) {
    #sub-header .level-0 > li > .cssmenu-title > span { font-size: 2.618rem; }
}

/* --- cell --- */
#top-header .cell-mini .cell { margin: 0; }

.cell-mini-vertical .cell { margin-bottom: 1.618em; }

.cell-mini .cell { border: none; }
.cell-header     { border: none; }

.cell-mini .cell-name {
    border-bottom: 1px solid var(--bdr-main);
    text-align: center;
    font-weight: bold;
}

/* --- content --- */
.section-header h1 {
    position: relative;
    padding-left: 0.809em;
    letter-spacing: 0.1618em;
    z-index: 1;
}

.formatter-title { text-decoration: none !important; }

.message-helper { border-width: 0 0 0 3px; }

/* --- modules --- */
#module-mini-calendar .grouped-inputs { margin: 0.456em 0 !important; }

.cell-mini #shoutbox-bbcode-container { margin: 0.456em 0 !important; }

#module-mini-search { padding: 0.309em; }

#module-mini-search [type="search"] {
    background-color: var(--bgc-main);
    border-color: var(--bdr-alt);
}

@media (min-width: 769px) {
    #module-mini-search { padding: 0; }
}

/* personnalisation */

/* site title */
.first-letter {
    color: #e40715;
}

.lam-table {
    font-weight: bold;
    color: #0094af;
}

.lam-counter {
    color: black;
    font-weight: bold;
    font-size: 0.850em;
}