/*
* Copy this file into your theme to customize the module.
* https://www.phpboost.com/wiki/structure-d-un-theme#paragraph-le-repertoire-modules
*/

/* form button */
.fieldset-content,
.fieldset-submit,
.fieldset-inset,
.fieldset-inset .button { margin: 0; }

.fieldset-inset { padding: 0; }

/* datatables params */
.dataTables_length label,
.dataTables_filter label {
    display: flex;
    min-width: 350px;
    align-items: center;
    padding: 0.618em 0;
}

table.dataTable thead tr.filters th { padding: 0.309em; }

.dataTables_filter input {
    max-width: 250px;
    margin-left: 0.618em;
}

.dataTables_length select {
    max-width: 60px;
    margin-left: 0.620em;
}

/* datatables overload */
.dataTables_wrapper .dataTables_paginate { padding: 0 0 0.618em; }

/* counters */
.review-results header { padding: 1.618em 0 0.618em; }

.counter-nolink {
    font-weight: bold;
    font-size: 1.228em;
    padding: 0.309em 1em;
    color : var(--error-tone);
    font-style: italic;
}

.counter-helper-small {
    cursor: help;
    font-size: 0.700em;
    display: inline-block;
    padding: 0.309em 0.618em;
    border: 1px solid var(--bdr-main);
    border-radius: 50%;
    margin-right: 0.618em;
}

.button {min-width: 60px};

/* surcharge du texte dans aria-label */

.tooltip-large {
    font-size: 14px;
    max-width: 500px;
}

/* tables */
.review-responsive-table {
    max-width: 100%;
    overflow-x: auto;
}

.review-table tr th { border: 1px solid var(--bdr-main); }

table thead tr.filters th {
    text-align: left;
    background-color: var(--bgc-alt);
}

.review-preview img,
.review-preview embed {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.review-preview img { 
    max-width: 60%; 
    max-height: 100%;
}

.review-preview embed {
    width: 60%;
    height: 600px;
}

.review-preview:hover img,
.review-preview:hover embed { display: block; }

/* tags loader */
.counter-loader {
    display: none;
    width: 80px;
    height: 80px;
}

.counter-loader:after {
    content: " ";
    display: block;
    width: 30px;
    height: 30px;
    margin: 20px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #00AFF0 transparent;
    animation: counter-loader 1.2s linear infinite;
}

@keyframes counter-loader {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.relative-search { position: relative; }

.empty-search {
    position: absolute;
    right: 0.309em;
    top: 50%;
    transform: translateY(-50%);
    visibility: hidden;
    font-size: 1.5em;
}

.empty-search.visible { visibility: visible; }

/* admin */
#cb-list,
#cb-list ul { 
    list-style-type: none; 
    margin: 0;
    padding: 0;
}

#cb-list li {
    padding: 0.618em;
    background-color: var(--bgc-main);
}

#cb-list .has-sub { 
    position: relative;
    display: block;
    padding-left: 1.618em;
}

#cb-list .has-sub ul { 
    margin-left: 1.618em; 
    display: none;
}

#cb-list .has-sub.open > ul {  display: block; }

#cb-list .has-sub > .swap-handle { 
    position: absolute; 
    left: 0;
    top: 0;
    width: 1.809em;
    height: 3.456em;
}

#cb-list .has-sub > .swap-handle { cursor: zoom-in; }
#cb-list .has-sub.open > .swap-handle { cursor: zoom-out; }

#cb-list .has-sub > .swap-handle::after { 
    position: absolute;
    left: 0.456em;
    top: 45%;
    transform: translateY(-50%);
    content: '\25BA';    
}

#cb-list .has-sub.open > .swap-handle::after { 
    content: '\25BC';
}